body 
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
}

h1, h2, h3, h4, h5, p
{
  margin: 0;
  padding: 0;
}

#root
{
  /* background-color: blue; */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.pageRootContainer
{
    width: 60%;
    min-height: 99vh;
    /* justify-self: center;
    align-self: center; */
    margin-left: auto;
    margin-right: auto;
}

.pageRootContainer:last-child
{
  margin-bottom: 0;
  padding-bottom: 0;
}

.centerContentDiv
{
  text-align: center;
}

.rowStyle
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.rowStyle > *
{
    position: relative;
    display: inline-block;
}

.row
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.row > *
{
    position: relative;
    display: inline-block;
    margin: 1px;
}

.moveable-btn 
{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.moveable-btn:hover 
{
  top: -5px;
}

.btn-with-shadow:hover 
{
  border-bottom: 1px solid black;
}

/* input[type=text] 
{
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
  width: 100%;
}

input[type=text]:focus 
{
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
  width: 50%;
} */

/* Removeing items on small screens */

@media (max-width: 650px) 
{
    .hide-650
    {
        display: none;
    }
}

@media (max-width: 400px) 
{
    .hide-400
    {
        display: none;
    }
}